.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid brown;
}

.order-info-box {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.payment-container {
  padding: 50px;
}

.payment-options-wrapper {
  display: flex;
  justify-content: space-around;
}