<div class="payment-container">
  <div class="payment-options-wrapper">
    <div>
      <h3>Choose Your Payment Method</h3>
      <app-choose-method (onPayment)="handleStatusChange()"></app-choose-method>
    </div>
    <div class="order-info-box">
      <app-order-display></app-order-display>
      <div class="details">
        <h3>Delivery Details</h3>
        <p>Name: <span>{{ deliveryDetails.firstName }} {{ deliveryDetails.lastName }}</span></p>
        <p>Address: <span>{{ deliveryDetails.address }}</span></p>
        <p>City: <span>{{ deliveryDetails.city }}</span></p>
        <p>Post Code: <span>{{ deliveryDetails.postcode }}</span></p>
        <p>Telephone Number: <span>{{ deliveryDetails.telephoneNumber }}</span></p>
        <p>Email: <span>{{ deliveryDetails.email }}</span></p>
      </div>
    </div>
  </div>

</div>