p {
  display: inline-block;
  font-size: 14px;
}

.quantityInput {
  padding: 5px;
  width: 35px;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 14px;
  margin-right:0px;
}

.quantityButton {
  display: inline-block;
  border: 1px solid brown;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  text-align: center;
  padding: 2px;
}

.bottleSizeLabel {
  float: right;
}

.bottleSize {
  float: right;
}


