p {
  display: inline-block;
  font-size: 14px;
}

.quantityInput {
  padding: 5px;
  width: 35px;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 14px;
  margin-right:0px;
}

.quantityButton {
  display: inline-block;
  border: 1px solid brown;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  text-align: center;
  padding: 0px 5px 2px;
  background-color: lightgray;
}

.quantityButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px brown;
}

.bottleSizeLabel {
  float: right;
}

.bottleSize {
  float: right;
}


