<ng-container *ngIf="reviewScore">
  <p>User give this beer: {{reviewScore | number: '1.2-2' }} / 5 </p><br>
  <span class="star">&#9733;</span>
  <span class="star" *ngIf="reviewScore>=2">&#9733;</span>
  <span class="star" *ngIf="reviewScore<2">☆</span>
  <span class="star" *ngIf="reviewScore>=3">&#9733;</span>
  <span class="star" *ngIf="reviewScore<3">☆</span>
  <span class="star" *ngIf="reviewScore>=4">&#9733;</span>
  <span class="star" *ngIf="reviewScore<4">☆</span>
  <span class="star" *ngIf="reviewScore>=5">&#9733;</span>
  <span class="star" *ngIf="reviewScore<5">☆</span>
</ng-container>

<ng-container *ngIf="!reviewScore">
  <p>This beer has 0 reviews</p>
  <p>Why not try it ordering it and be the first?</p>
</ng-container>