<div class="design-page-title">
  <h2 class>Create Your Own Beer</h2>
</div>

<div class="beer-design-container">
  <div class="bottle-image-wrapper">
    <app-beer-image [color]="color" 
                    [opacity]="opacity" 
                    [capColor]="capColor"
                    [labelColor]="labelColor"
                    [name]="name"></app-beer-image>
  </div>
  <div class="beer-order-form-wrapper">
    <app-beer-design-form (onStyleChange)="handleStyleChange($event)" 
                          (onOpacityChange)="handleOpacityChange($event)" 
                          (onCapColorChange)="handleCapColorChange($event)"
                          (onNameChange)="handleNameChange($event)"
                          (onLabelColorChange)="handleLabelColorChange($event)"></app-beer-design-form>
  </div>
</div>
