<form (ngSubmit)="handleNewBeer(beerForm)" #beerForm="ngForm" class="beer-build-form" >

  <div class="form-element-container name-field-container">
    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="name">
  </div>

  <div class="form-element-container style-field-container">
    <label>Style</label>
    <select name="style" [(ngModel)]="style">
      <option value="Lager">Lager</option>
      <option value="Wheat Beer">Wheat Beer</option>
      <option value="IPA">IPA</option>
      <option value="Pale Ale">Pale Ale</option>
      <option value="Red Ale">Red Ale</option>
      <option value="Porter">Porter</option>
      <option value="Stout">Stout</option>
    </select>
  </div>

  <div class="form-element-container colourants-field-container">
    <label>Clarity</label>
    <select name="colourants" [(ngModel)]="colourants">
      <option value="Clear">Clear</option>
      <option value="Medium">Medium</option>
      <option value="Opaque">Opaque</option>
    </select>
  </div>

  <div class="form-element-container flavours-field-container">
    <label>Additional Flavours</label>
    <select name="flavours" [(ngModel)]="flavours">
      <option value="Chili">Chili</option>
      <option value="Chocolate">Chocolate</option>
      <option value="Coffee">Coffee</option>
      <option value="Lemon">Lemon</option>
    </select>
  </div>

  <div class="form-element-container age-field-container">
    <label>Extra Aging Days</label>
    <input type="number" name="age" [(ngModel)]="age">
  </div>

  <div class="form-element-container label-url-field-container">
    <label>Label Url</label>
    <input type="text" name="labelURL" [(ngModel)]="labelURL">
  </div>
  
  <button type="submit">Create</button>
</form>
