<form (ngSubmit)="handleNewBeer(beerForm)" #beerForm="ngForm" class="beer-build-form" >

  <div class="form-element-container name-field-container">
    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="name" (change)="handleNameChange(name)">
    <h5>What it says on the label.</h5>
  </div>

  <div class="form-element-container style-field-container">
    <label>Style</label>
    <select name="style" [(ngModel)]="style" (change)="handleStyleChange(style)">
      <option value="Lager">Lager</option>
      <option value="Wheat Beer">Wheat Beer</option>
      <option value="IPA">IPA</option>
      <option value="Pale Ale">Pale Ale</option>
      <option value="Red Ale">Red Ale</option>
      <option value="Porter">Porter</option>
      <option value="Stout">Stout</option>
    </select>
    <h5>This will be the base of your beer.</h5>
  </div>

  <div class="form-element-container colourants-field-container">
    <label>Clarity</label>
    <select name="colourants" [(ngModel)]="colourants" (change)="handleOpacityChange(colourants)">
      <option value="Clear">Clear</option>
      <option value="Medium">Medium</option>
      <option value="Opaque">Opaque</option>
    </select>
    <h5>How clear do you want your beer to be (note:
      it is harder to tell when dark beers are clear).</h5>
  </div>

  <div class="form-element-container flavours-field-container">
    <label>Additional Flavours</label>
    <select name="flavours" [(ngModel)]="flavours">
      <option value="Chili">Chili</option>
      <option value="Chocolate">Chocolate</option>
      <option value="Coffee">Coffee</option>
      <option value="Lemon">Lemon</option>
    </select>
    <h5>Each style has unique flavours which can be added</h5>
  </div>

  <div class="form-element-container age-field-container">
    <label>Extra Aging Days</label>
    <input type="number" name="age" [(ngModel)]="age" max=30 min=0>
    <h5>We can bottle-age your beer for up to 30 additional days</h5>
  </div>

  <div class="form-element-container label-url-field-container">
    <label>Label Colour</label>
    <select name="labelColor" [(ngModel)]="labelColor" (change)="handleLabelColorChange(labelColor)">
      <option value="#0000FF">Blue</option>
      <option value="#FF0000">Red</option>
      <option value="#FFD700">Gold</option>
      <option value="#C0C0C0">Silver</option>
      <option value="#000000">Black</option>
    </select>
    <h5>What colour would you like your label to be.</h5>
  </div>

  <div class="form-element-container cap-color-field-container">
    <label>Cap Colour</label>
    <select name="capColor" [(ngModel)]="capColor" (change)="handleCapColorChange(capColor)">
      <option value="#0000FF">Blue</option>
      <option value="#FF0000">Red</option>
      <option value="#FFD700">Gold</option>
      <option value="#C0C0C0">Silver</option>
      <option value="#000000">Black</option>
    </select>
    <h5>What colour would you like your bottle cap to be.</h5>
  </div>
  
  <button type="submit">Create</button>
</form>
