<form (ngSubmit)="handleNewBeer(beerForm)" #beerForm="ngForm" class="beer-build-form" novalidate>

  <div class="form-element-container name-field-container">
    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="name" (change)="handleNameChange(name)" #beerName="ngModel" maxlength=15 required>
    <h5>What it says on the label.</h5>
  </div>

  <div class="form-element-container style-field-container">
    <label>Style</label>
    <select name="style" [(ngModel)]="style" (change)="handleStyleChange(style)" required>
      <option value="Lager">Lager</option>
      <option value="Wheat Beer">Wheat Beer</option>
      <option value="IPA">IPA</option>
      <option value="Pale Ale">Pale Ale</option>
      <option value="Red Ale">Red Ale</option>
      <option value="Porter">Porter</option>
      <option value="Stout">Stout</option>
    </select>
    <h5>This will be the base of your beer.</h5>
  </div>

  <div class="form-element-container colourants-field-container">
    <label>Clarity</label>
    <select name="colourants" [(ngModel)]="colourants" (change)="handleOpacityChange(colourants)" required>
      <option value="Clear">Clear</option>
      <option value="Medium">Medium</option>
      <option value="Opaque">Opaque</option>
    </select>
    <h5>How clear do you want your beer to be (note:
      it is harder to tell when dark beers are clear).</h5>
  </div>

  <div class="form-element-container flavours-field-container">
    <label>Additional Flavours</label>
    <select name="flavours" [(ngModel)]="flavours">
      <option value="None">None</option>
      <option value="Chili">Chili</option>
      <option value="Chocolate">Chocolate</option>
      <option value="Coffee">Coffee</option>
      <option value="Lemon">Lemon</option>
    </select>
    <h5>Each style has unique flavours which can be added</h5>
  </div>

  <div class="form-element-container font-field-container">
    <label>Label Font</label>
    <select name="labelFont" [(ngModel)]="labelFont" (change)="handleLabelFontChange(labelFont)" required>
      <option value="Lato">Lato</option>
      <option value="Poppins">Poppins</option>
      <option value="Arial">Arial</option>
      <option value="Geo">Geo</option>
      <option value="Lobster">Lobster</option>
      <option value="Metal Mania">Metal Mania</option>
      <option value="Open Sans">Open Sans</option>
      <option value="Gloria Hallelujah">Gloria Hallelujah</option>
    </select>
  </div>

  <div class="form-element-container label-text-field-container">
    <label>Label Colour</label>
    <select name="labelColor" [(ngModel)]="labelColor" (change)="handleLabelColorChange(labelColor)" required>
      <option *ngFor="let color of colors" value="{{ color.code }}">
          {{ color.name }}
      </option>
    </select>
    <h5>What colour would you like your label to be.</h5>
  </div>

  <div class="form-element-container label-font-field-container">
      <label>Label Font Colour</label>
      <select name="labelFontColor" [(ngModel)]="labelFontColor" (change)="handleLabelFontColorChange(labelFontColor)" required>
        <option *ngFor="let color of colors" value="{{ color.code }}">
          {{ color.name }}
        </option>
      </select>
      <h5>What colour would you like your label to be.</h5>
    </div>

  <div class="form-element-container label-text-field-container">
      <label>Label Image</label>
      <select name="labelImage" [(ngModel)]="labelImage" (change)="handleLabelImageChange(labelImage)">
        <option value="https://image.flaticon.com/icons/png/128/7/7488.png">Star</option>
        <option value="#FF0000">Skull</option>
        <option value="#FFD700">Fist</option>
      </select>
      <h5>What will be on your label?</h5>
    </div>

  <div class="form-element-container cap-color-field-container">
    <label>Cap Colour</label>
    <select name="capColor" [(ngModel)]="capColor" (change)="handleCapColorChange(capColor)" required>
      <option *ngFor="let color of colors" value="{{ color.code }}">
        {{ color.name }}
      </option>
    </select>
    <h5>What colour would you like your bottle cap to be.</h5>
  </div>
  
  <button class="beer-form-button" type="submit" [disabled]="!beerForm.valid">Create</button>
</form>
