th {
  padding: 5px;
  font-size: 12px;
}

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 600px;
}

.table-container {
  border: 1px solid brown;
  padding: 10px;
}

.order-item {
  display: flex;
  direction: column;
  justify-content: space-around;
  padding: 5px;
}

.order-total {
  text-align: right;
  margin-right: 25px;
}

