<div class="banner-container">
    <div class="banner">
        <div>
          <h1>BEER BUILDER</h1>
          <h3>Design, buy, drink and <br> sell your own unique beers</h3>
        </div>
        <a [routerLink]="['/create']">Build my beer</a>
    </div>    
</div>
<div class="section-container">
  <div class="section" id="bottling-section"></div>
  <div class="section info-section">
    <h2>Design an authentic craft beer, have it made with love by a master brewer,
        and shipped to your home within a month.</h2>
    <ul>
      <li>Choose from 7 different styles of beer</li>
      <li>Give your beer a unique name</li>
      <li>Design your own label</li>
      <li>Choose your own bottle cap</li>
      <li>Order up to 50 litres</li>
    </ul>
    <h3>Make your workplace, home, party or holidays unique.</h3>
  </div>
</div>
<div class="section-container">
  <div class="section info-section">
    <h2>Beer is a highly social drink, we want to build briges, friendships and co-operation.</h2>
    <p>Our vision is to have people all over the world consume beer like they choose their clothing. 
      We want to encourage a sense of experimentation, a joy of discovery and a co-existence defined by peacefully sharing special moments.</p>
    <h3>Share your ideas, co-design and co-buy beers alongside your friends, or even strangers.</h3>
  </div>
  <div class="section" id="drinking-section"></div>
</div>
<div class="article-container">
  <h2>Our Greatest Hits</h2>
  <ng-container *ngFor="let beer of beers; index as i">
    <div class="article" *ngIf="i < 8">
      <a [routerLink]="['beer', beer._id]">{{ beer.name }}</a>
    </div>
  </ng-container>
</div>


