<div class="order-history-container">
  <h2>Your Order History</h2>
  <table *ngIf="orders">
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Beers Ordered</th>
      <th>Total</th>
      <th>Order Status</th>
    </tr>
  <tr *ngFor="let order of orders; index as i">
    <th class="orderID">#{{ order._id }} </th>
    <th>{{ order.createdAt | date:'shortDate'}}</th>
    <th><p *ngFor="let beer of order.beersOrdered">{{ beer.name }}</p> </th>
    <th><p *ngFor="let beer of order.beersOrdered">€{{ beer.price }}</p></th>
    <th><p *ngIf="order.isShipped">Shipped</p><p *ngIf="!order.isShipped">In production</p></th>
  </tr>
</table>
</div>

