th {
  padding: 3px;
  font-size: 10px;
}

.order-history-container {
  padding: 50px;
}

.orderID {
  text-align: left;
}

.beer-history {
  padding: 20px 0px;
}

.beer-history h4 {
  margin: 5px 0px;
}