.confirm-order-container {
  padding: 50px;
}

.design-page-title {
  margin: auto;
  text-align: center;
}

.beer-design-container {
  display: flex;
  justify-content: center;
}

.beer-design-form-wrapper {
  width: 400px;
}

.bottle-image-wrapper {
  display: none;
}

@media (min-width: 800px) {
  .bottle-image-wrapper {
  display: block;
  padding-top: 100px;
  }
}
