.design-page-title {
  margin: auto;
  text-align: center;
}

.beer-design-container {
  display: flex;
  justify-content: center;
}

.beer-design-form-wrapper {
  width: 400px;
}

.bottle-image-wrapper {
  padding-top: 50px;
}

