<div class="container">
  <h2 *ngIf="beer">{{ beer.name }}</h2>
  <div class="component-wrapper">
    <app-beer-image [color]="beer.beerDetails.color" 
    [opacity]="beer.beerDetails.opacity" 
    [capColor]="beer.cap.color"
    [labelColor]="beer.label.color"
    [labelFontColor]="beer.label.fontColor"
    [labelImage]="beer.label.image"
    [labelFont]="beer.label.font"
    [labelSlogan]="beer.label.slogan"
    [name]="beer.name"></app-beer-image>
    <div *ngIf="beer" class="beer-info">
      {{ beer.description }}
    </div>
    
  </div>
</div>