.container {
  padding: 50px;
  text-align: center;
}

.component-wrapper {
  display: flex;
  justify-content: space-around;
}

.beer-info {
  height: 600px;
  padding: 100px 20px;
}

.login-overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.log-me {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 2;
}

.beer-added {
  margin-top: 20px;
  color: brown;
}

button {
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(0,0,0,0);
  transition: width 1s;
}

button:hover {
  width: 300px;
  background-color: lightgray;
}

@media (max-width: 600px) {
  .beer-responsive {
    display: none;
  }
}