.container {
  padding: 50px;
  text-align: center;
}

.component-wrapper {
  display: flex;
  justify-content: space-around;
}

.beer-info {
  height: 600px;
  padding: 100px 20px;
}

button {
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(0,0,0,0);
  border: 1px solid brown;
  transition: width 1s;
}

button:hover {
  width: 300px;
  background-color: lightgray;
  box-shadow: 1px 1px 1px 1px brown;
}

@media (max-width: 600px) {
  .beer-responsive {
    display: none;
  }
}