<div class="log-form-container">
  <form *ngIf="!user" (ngSubmit)="handleUserSignup(signupForm)" #signupForm="ngForm" class="log-form" >
    <label> Username </label>
    <input type="text" [(ngModel)]="username" name="username"/>
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="password" name="password"/>
    <br>
    <button class="regular-button"> Signup </button>
  </form>
  <p> Already Registered? </p><button (click)="handlePopLogIn()" class="swap-login-form-button"> Log In </button>
</div>