.star {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}

.star > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color: gold;
}

.star > span:hover {
  cursor: pointer;
}

.star > span:hover,
.star > span:hover ~ span {
  color: transparent;
}
.star > span:hover:before,
.star > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

