<ng-container *ngIf="!signupPop">
  <div class="log-form-container">
    <form (ngSubmit)="handleUserLogin(loginForm)" #loginForm="ngForm" class="log-form" >
      <label> Username </label>
      <input type="text" [(ngModel)]="username" name="username"/>
      <br>
      <label> Password </label>
      <input type="password" [(ngModel)]="password" name="password"/>
      <br>
      <button class="regular-button"> Log in </button>
      <p *ngIf="error" class="error">{{error}}</p>
    </form>
    <p> Not Registered? </p><button (click)="handlePopSignUp()" class="swap-login-form-button"> Sign Up </button>
  </div>
</ng-container>
<ng-container *ngIf="signupPop">
  <app-signup-form (onPopLogIn)="handlePopLogIn($event)"></app-signup-form>
</ng-container>