.log-form-container {
  position: absolute;
  width: 300px;
  top: 55px;
  right: 0%;
  color: white;
  padding: 20px;
  background-image: url("https://image.freepik.com/free-photo/wooden-texture_1208-334.jpg")
}