.navbar {
  background-image: url("https://image.freepik.com/free-photo/wooden-texture_1208-334.jpg");
  height: 55px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.router-pages {
  padding: 50px;
}

.footer {
  background-image: url("https://image.freepik.com/free-photo/wooden-texture_1208-334.jpg");
  color: white;
  height: 150px;
  text-align: center;
  padding: 50px;
}