<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <div class="go-home">
    <a [routerLink]="['/']">Home</a>
  </div>
  <div class="navbar-right-menu">
    <p (click)="displayResponsiveMenu()">Menu</p>
  </div>
  <div class="navbar-right-links">
    <a *ngIf="user" [routerLink]="['recommendation']" class="navbar-link">Inspire Me</a>
    <a *ngIf="user" [routerLink]="['checkout']" class="navbar-link">My Basket</a>
    <a *ngIf="user" [routerLink]="['orders']" class="navbar-link">My Orders</a>
    <a *ngIf="user" [routerLink]="['profile', user.id]" class="navbar-link">My Beers</a>
    <button *ngIf="!user" (click)="popLogIn()" class="navbar-link">Log In</button>
    <button *ngIf="user" (click)="logOut()" class="navbar-link">Log Out</button>
  </div>
  <div class="navbar-hidden-links" *ngIf="responsiveDisplay">
    <a *ngIf="user" [routerLink]="['recommendation']" class="navbar-hidden-link">Inspire Me</a>
    <a *ngIf="user" [routerLink]="['checkout']" class="navbar-hidden-link">My Basket</a>
    <a *ngIf="user" [routerLink]="['orders']" class="navbar-hidden-link">My Orders</a>
    <a *ngIf="user" [routerLink]="['profile', user.id]" class="navbar-hidden-link">My Beers</a>
    <button *ngIf="!user" (click)="popLogIn()" class="navbar-hidden-link">Log In</button>
    <button *ngIf="user" (click)="logOut()" class="navbar-hidden-link">Log Out</button>
  </div>
</div>
<div *ngIf="!loginWarning" (click)="popLogIn()" class="login-overlay"></div>
<ng-container *ngIf="!user && loginPop">
  <app-login-form (onLoginBoxPop)="handleLoginBoxPop()"></app-login-form>
</ng-container> 
<router-outlet></router-outlet>
<div class="footer">
  <p>Beer Builder, an application made by markvertra</p>
</div>




