<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <div class="go-home">
    <a [routerLink]="['/']">Home</a>
  </div>
  <div class="auth-links">
    <button *ngIf="!user" (click)="popLogIn()">Log In</button>
    <button *ngIf="user" (click)="logOut()">Log Out</button>
  </div>
</div>
<ng-container *ngIf="!user && loginPop">
  <app-login-form></app-login-form>
</ng-container> 
<router-outlet></router-outlet>
<div class="footer">
  <p>Beer Builder, an application made by markvertra</p>
</div>


