.navbar {
  background-image: url("https://image.freepik.com/free-photo/wooden-texture_1208-334.jpg");
  height: 55px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.navbar a, 
.navbar span{
  color: white;
  text-decoration: none;
}

.navbar-link {
  margin: 0px 15px;
}

.navbar-right-menu {
  display: none;
}

.basket-number {
  position: absolute;
  bottom: 12%;
  right: 2%;
  font-size: 8px;
  color: black !important;
  font-weight: bold;
  background: grey;
  border-radius: 30px;
  padding: 2px 6px;
}

.checkout-link {
  position: relative;
}

.navbar-hidden-links {
  background-image: url("https://image.freepik.com/free-photo/wooden-texture_1208-334.jpg");
  position: absolute;
  right: 0%;
  top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-hidden-link {
  padding: 15px 15px;
}

@media (max-width: 750px){
  .navbar-right-menu {
    display: block;
    color: white;
  }

  .navbar-right-links {
    display: none;
  }

  .basket-number {
    display: none;
  }
}

.login-overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 1;
}

button {
  font-size: 1em;
  border: none;
  color: white;
  background: transparent;
  cursor: pointer;
}

.router-pages {
  padding: 50px;
}

.footer {
  background-image: url("https://image.freepik.com/free-photo/wooden-texture_1208-334.jpg");
  color: white;
  height: 150px;
  text-align: center;
  padding: 50px;
}

.footer a {
  color: white;
  border: 3px solid white;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  height: 50px;
  font-size: 1.3em;
  margin-top: 80px;
  margin-right: 150px;
  text-decoration: none;
}