p {
  font-size: 13px;
}

.basket-container {
  padding: 30px;
}

.beer-build-form h2 {
  margin-bottom: 20px;

}

.basket-div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.basket-titles {
  display: flex;
  justify-content: space-between;
}

.basket-right-titles {
  font-size: 0.9em;
  display: flex;
  justify-content: space-around;
}

.basket-right-titles .quantity {
  margin: 0px 63px 0px 0px;
}

.basket-right-titles .bottle-size {
  margin: 0px 13px;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 350px;
  border: none;
  background-color: rgba(83, 49, 4, 0.2);
  transition: box-shadow 1s;
}

button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px;
}

@media (max-width: 600px ) {
  .basket-container {
    padding: 10px;
  }
}