<div class="article-container">
  <h2>Our Greatest Hits</h2>
  <ng-container *ngFor="let beer of filteredBeers; index as i">
    <div class="article" *ngIf="i < 8" (click)="handleBeerClick(beer._id)">
      <h3>{{ beer.name }}</h3>
      <h5>By <a [routerLink]="['profile/', beer.creatorId]">{{ beer.creatorId }}</a></h5>
      <app-beer-image [color]="beer.beerDetails.color" 
      [opacity]="beer.beerDetails.opacity" 
      [capColor]="beer.cap.color"
      [labelColor]="beer.label.color"
      [labelFontColor]="beer.label.fontColor"
      [labelImage]="beer.label.image"
      [labelFont]="beer.label.font"
      [labelSlogan]="beer.label.slogan"
      [name]="beer.name"
      [reviews]="beer.reviews"
      [beer]="beer"></app-beer-image>
    </div>
  </ng-container>
</div>
<div class="search-container">
<input type="text" class="search-bar" placeholder="Search our beers by..." [(ngModel)]="searchTerm" (change)="handleSearchChange()">
<select class="search-bar-type-setter" [(ngModel)]="searchType" (change)="handleSearchTypeChange()">
  <option value="name" selected>Name</option>
  <option value="style">Style</option>
  <option value="extraFlavours">Flavours</option>
  <option value="slogan">Slogan</option>
</select>
</div>