
.article-section {
  display: flex;
  justify-content: center;
}

.article {
  width: 250px;
  height: 590px;
  margin: 50px;
  padding: 10px;
  display: inline-block;
}

.article:hover {
  border: 1px brown solid;
  box-shadow: 1px -1px 1px 1px;
  cursor: pointer;
}

.article-container {
  padding: 0px 0px 50px;
  text-align: center;
}

.article-container h2 {
  font-size: 2em;
  margin: 30px 0px;
}

.search-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 300px;
  padding: 6px 5px 5px;
  border: none;
  background-color: rgba(150, 152, 151, 0.2);
}

.select-container {
  padding: 1px 2px;
}

input {
  height: 30px;
  padding: 5px;
}

select {
  height: 29px;
  padding: 5px;
  border: none !important;
  border-radius: 0;
  width: 100px;
}