button {
  margin-top: 20px;
  width: 150px;
  padding: 10px;
  font-size: 14px;
  background-color: rgba(0,0,0,0);
  transition: width 1s;
}

button:hover {
  width: 220px;
  background-color: lightgray;
}

.profile-container {
  padding: 50px;
}

.beer-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 800px;

}

.beer-article {
  width: 250px;
  height: 540px;
  margin: 50px;
  padding: 10px;
  display: inline-block;
}

.beer-article:hover {
  border: 1px brown solid;
  box-shadow: 1px -1px 1px 1px;
  cursor: pointer;
}

.beer-added {
  margin-top: 20px;
  color: brown;
}

