<div class="profile-container">

<ng-container *ngIf="user">
  <h3>Beers made by {{ user.username }} </h3>
</ng-container>

<ng-container *ngIf="publicBeers">
  <h3>Published Beers</h3>
  <div class="beer-image-container">
      <div *ngFor="let beer of publicBeers" class="beer-article" (click)="handleBeerClick(beer._id, beer.creatorId)">
      <app-beer-image [color]="beer.beerDetails.color" 
                      [opacity]="beer.beerDetails.opacity" 
                      [capColor]="beer.cap.color"
                      [labelColor]="beer.label.color"
                      [labelFontColor]="beer.label.fontColor"
                      [labelImage]="beer.label.image"
                      [labelFont]="beer.label.font"
                      [labelSlogan]="beer.label.slogan"
                      [name]="beer.name"></app-beer-image>
      <button (click)="handleAddToBasket(beer)">Add to basket</button>  
    </div>
  </div>
</ng-container>

<ng-container *ngIf="privateBeers.length >= 1">
    <h3>Private Beers</h3>
    <div class="beer-image-container">
      <div *ngFor="let beer of privateBeers" class="beer-article" (click)="handleBeerClick(beer._id, beer.creatorId)">
        <app-beer-image [color]="beer.beerDetails.color" 
                        [opacity]="beer.beerDetails.opacity" 
                        [capColor]="beer.cap.color"
                        [labelColor]="beer.label.color"
                        [labelFontColor]="beer.label.fontColor"
                        [labelImage]="beer.label.image"
                        [labelFont]="beer.label.font"
                        [labelSlogan]="beer.label.slogan"
                        [name]="beer.name"></app-beer-image>
      <button (click)="handleAddToBasket(beer)">Add to basket</button>  
      </div>
    </div>
  </ng-container>

</div>