.profile-container {
  padding: 50px;
}

.beer-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.beer-article {
  width: 250px;
  height: 540px;
  margin: 50px;
  padding: 10px;
  display: inline-block;
}

.beer-article:hover {
  border: 1px brown solid;
  box-shadow: 1px -1px 1px 1px;
  cursor: pointer;
}