<h3> Thank you for creating your beer. Please select the quantity desired</h3>

<form (ngSubmit)="handleNewOrder(orderForm)" #orderForm="ngForm" class="beer-build-form" >
    
  <div class="form-element-container quantity-field-container">
    <label>Quantity</label>
    <select name="quantity" [(ngModel)]="quantity">
      <option value="20">20 500ml Bottles - €50</option>
      <option value="40">40 500ml Bottles - €90</option>
      <option value="60">60 500ml Bottles - €130</option>
      <option value="80">80 500ml Bottles - €170</option>
      <option value="100">100 500ml Bottles - €200</option>
    </select>
  </div>

  <h4>Please enter your delivery details</h4>

  <div class="form-element-container delivery-details-container">
    <div class="delivery-element">
      <label>First Name</label>
      <input type="text" name="firstName" [(ngModel)]="firstName">
    </div>
    <div class="delivery-element">
      <label>Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="lastName">
    </div>
    <div class="delivery-element">
      <label>Address</label>
      <input type="text" name="address" [(ngModel)]="address">
    </div>
    <div class="delivery-element">
      <label>Post Code</label>
      <input type="text" name="postcode" [(ngModel)]="postcode">
    </div>
    <div class="delivery-element">
      <label>Telephone Number</label>
      <input type="text" name="telephoneNumber" [(ngModel)]="telephoneNumber">
    </div>
    <div class="delivery-element">
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="email">
    </div> 
  </div>

  <button>Confirm Order</button>
</form>