<form (ngSubmit)="handleNewOrder(orderForm)" #orderForm="ngForm" class="beer-build-form" >
    
  <div class="form-element-container delivery-details-container">
    <h3>Thank you for ordering with Beer-Builder. Please enter your delivery details
        to complete the order.
    </h3>
    <div class="delivery-element">
      <label>First Name</label>
      <input type="text" name="firstName" [(ngModel)]="firstName" required>
    </div>
    <div class="delivery-element">
      <label>Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="lastName" required>
    </div>
    <div class="delivery-element">
      <label>Address</label>
      <input type="text" name="address" [(ngModel)]="address" required>
    </div>
    <div class="delivery-element">
        <label>City</label>
        <input type="text" name="city" [(ngModel)]="city" required>
      </div>
    <div class="delivery-element">
      <label>Post Code</label>
      <input type="text" name="postcode" [(ngModel)]="postcode" required>
    </div>
    <div class="delivery-element">
      <label>Telephone Number</label>
      <input type="text" name="telephoneNumber" [(ngModel)]="telephoneNumber" required>
    </div>
    <div class="delivery-element">
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="email" required>
    </div> 
  </div>

  <button [disabled]="!orderForm.valid">Confirm Order</button>
</form>

{{ checkoutBasket | json }}