<form *ngIf="!inspired" (ngSubmit)="handleNewRecommendation(recForm)" #recForm="ngForm" class="beer-build-form" novalidate>
  
  <div class="radio-button-wrapper">
  <h3>Which is your favourite season?</h3>
    <div class="radio-group">
      <input type="radio" name="season" [(ngModel)]="season" value="Summer" id="summer"><label for="summer">Summer</label>
      <input type="radio" name="season" [(ngModel)]="season" value="Spring" id="spring"><label for="spring">Spring</label>
      <input type="radio" name="season" [(ngModel)]="season" value="Autumn" id="autumn"><label for="autumn">Autumn</label>
      <input type="radio" name="season" [(ngModel)]="season" value="Winter" id="winter"><label for="winter">Winter</label>
    </div>
  </div>

  <div class="radio-button-wrapper">
  <h3>Which is your favourite meal?</h3>
    <div class="radio-group">
      <input type="radio" name="meal" [(ngModel)]="meal" value="Barbeque" id="barbeque"><label for="barbeque">Barbeque</label>
      <input type="radio" name="meal" [(ngModel)]="meal" value="Fruit" id="fruit"><label for="fruit">Fresh Fruit</label>
      <input type="radio" name="meal" [(ngModel)]="meal" value="Chocolate" id="chocolate"><label for="chocolate">Chocolate Cake</label>
      <input type="radio" name="meal" [(ngModel)]="meal" value="Lasagna" id="lasagna"><label for="lasagna">Lasagna</label>
    </div>
  </div>

  <div class="radio-button-wrapper">
  <h3>What would be your perfect holiday?</h3>
    <div class="radio-group">
      <input type="radio" name="holiday" [(ngModel)]="holiday" value="Beach" id="beach"><label for="beach">Beach</label>
      <input type="radio" name="holiday" [(ngModel)]="holiday" value="Mountain" id="mountain"><label for="mountain">Mountain Walking</label>
      <input type="radio" name="holiday" [(ngModel)]="holiday" value="City" id="city"><label for="city">City Break</label>
      <input type="radio" name="holiday" [(ngModel)]="holiday" value="Skiing" id="ski"><label for="ski">Ski Holiday</label>
    </div>
  </div>

  <div class="radio-button-wrapper">
    <button>Go!</button>
    <div *ngIf="error" class="error">{{ error }}</div>
  </div>
</form>
<ng-container *ngIf="recommended && recommendedBeer">
  <app-beer-image [color]="recommendedBeer.beerDetails.color" 
                  [opacity]="recommendedBeer.beerDetails.opacity" 
                  [capColor]="recommendedBeer.cap.color"
                  [labelColor]="recommendedBeer.label.color"
                  [labelFontColor]="recommendedBeer.label.fontColor"
                  [labelImage]="recommendedBeer.label.image"
                  [labelFont]="recommendedBeer.label.font"
                  [labelSlogan]="recommendedBeer.label.slogan"
                  [name]="recommendedBeer.name"
                  [reviews]="recommendedBeer.reviews"
                  [beer]="recommendedBeer"></app-beer-image>
</ng-container>
<div class="radio-button-wrapper">
  <button *ngIf="recommended" (click)="handleRecommendation()">We recommend you build a {{ recommended }}</button>
</div>
